body{
    font-family: Verdana, sans-sherif;
    margin: 0px;
    }
h1{
    color: 413C69;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    text-decoration:  underline overline #FF3028;
    background-color: A7C5EB;
    font-style: italic;
}
h8{
    color: A413C69;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
}
h2{
    color: 413C69;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
}
h3{
    color: 413C69;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    text-align: center;
    }
h4{
    color: 413C69;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    }

h9{
    color: 413C69;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;  
}

#photopassion{
    height: 100px;
    width: 100px 
}
#montagne{
    border-radius: 50%;
    height: 130px;
    width: 160px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#textepresentation{
    font-family: 'Times New Roman';
}

#texteformation{
    font-family: 'Times New Roman';
}

#experiencepro{
    font-family: 'Times New Roman';
}

#passion{
    font-family: 'Times New Roman';
}
  
.listepassion {
    display: grid;
    grid-template-columns: 300px 300px;
    width: 600px;
    margin: auto;
  }

.listepassion{
    contain: layout;
}


.listepassion{
    font-family: 'Franklin Gothic Medium';
  }

  .listepassion2 {
    display: grid;
    grid-template-columns: 300px 300px;
    width: 600px;
    margin: auto;
  }

.listepassion2{
    contain: layout;
    box-shadow: 1px 1px 10px 181818;
}


.listepassion2{
    font-family: 'Franklin Gothic Medium';
  }

.item {
    border-radius: 20%;
    width: 225px;
    height: 115px;
    border: 5px solid rgb(84, 100, 247);
    margin: 10px;
    padding: 10px 10px;
  }
  
  
body {
     color:black;
     background-color:white;
    background-image:url(images/blanc2.jfif);
    background-size: cover;
    }

.text{
    background-color:A7C5EB;
    box-shadow: 1px 1px 10px black;
    border-radius: 30px;
    padding: 35px;
    margin: 45px;
}

.container{
    margin-left: 450px;
    margin-right: 450px;
    display: flex;
    flex-direction: column;
    top: 30px;
}

h5{
    color: black;
}

h11{
    text-align: center;
    color: CC3636;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium';

}

.social{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: end;
    
    
}

.reseaux{
    height: 50px;
    width: 50px;
    padding: 20px;
}

.ski{
    
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: 300px;
    width: 100px;
    
}


